@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    /* General clr palette */
    --bcg-clr-header: white;
    --bcg-clr-nav: rgba(229, 80, 57,1.0);
    --bcg-clr-main: yellow;
    --bcg-clr-sidecontent: lightgreen;
    /* Nav clr palette */
    --txt-clr-nav-items: rgba(255, 255, 255, 100%); 
    --txt-clr-nav-hover: rgba(96, 163, 188,1.0);
    /* header clr palette */
    --bcg-clr-search: rgba(209, 206, 199, 0.404);
    --bcg-clr-header-btn: rgba(74, 105, 189,1.0);
    --bcg-clr-header-btn-hover: rgb(19, 58, 167);
    --txt-clr-header-btn: rgba(247, 241, 227,1.0);
    /* main clr palette */
    --bcg-clr-cards: rgba(255, 218, 121,1.0);


    /* Gaps, margins & paddings */
    /* header */
    --padding-search: 1rem 2rem;

    /* Nav */
    --gap-nav-rows: 10px 15px;
    --margin-list-btm: .5rem;
    --margin-list-left: 1rem;


    /* fonts */
    /* header */
    --txt-size-header-user: 1.1rem;
    --txt-size-header-user-full: 1.5rem;
    /* Nav */
    --logo-font-size: 1.4rem;
    --logo-font: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template: minmax(9rem, 10rem) 1fr/ minmax(13.6rem,18.8rem) 3fr minmax(13.6rem,23rem);
    grid-template-areas: 
        "nav header header"
        "nav main side-content";
    gap: 10px 15px;
}

body>* {
    border: 1px solid black;
    background-color: var(--_bcg-clr, red);

}


header {
    --_bcg-clr: var(--bcg-clr-header);
    grid-area: header;

}

nav {
    --_bcg-clr: var(--bcg-clr-nav);
    grid-area: nav;
    color: var(--_txt-clr, white);
}


main {
    --_bcg-clr: var(--bcg-clr-main);
    grid-area: main;
}

.side-content {
    --_bcg-clr: var(--bcg-clr-sidecontent);
    grid-area: side-content;
}


/* General styling */
/* Header */

header {
    display: grid;
    grid-template: 1fr 1fr / minmax(35rem, 2fr) 1fr;
}

header .header-flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .8rem;
}

header .header-flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .8rem;
    margin-right: 4rem;
}

.header-padding {
    padding: var(--padding-search);
}
header input[type="text"] {
    border: 1px solid currentColor;
    border-radius: 1rem;
    flex: 1;
    max-width: 70%;
    height: 1.5rem;
    background-color: var(--bcg-clr-search);
}

header .profile-container-small {
    height: 2.7rem; width: 2.7rem;
    border: 1px solid currentColor;
    border-radius: 2.5rem;
}

header .profile-container-small>img {
    height: 100%; 
    width: auto;
    border-radius: inherit;
}


header .profile-container-medium {
    width: 4rem; height: 4rem;
    border: 1px solid currentColor;
    border-radius: 4rem;
}

header .profile-container-medium>img {
    height: 100%;
    width: auto;
    border-radius: inherit;
}

.welcome-container>p {
    font-size: .7rem;
    font-weight: 500;
}


.btn-modifier {
    text-align: center;
    vertical-align: bottom;
    color: var(--txt-clr-header-btn);
    padding: .3rem .2rem;
    width: 6rem; height: 2rem;
    background-color: var(--bcg-clr-header-btn);
    border: .1rem solid var(--bcg-clr-header);
    border-radius: 1rem;
    cursor: pointer;
    transition: all .4s ease ;
}


.profile-name-container {
    font-size: var(--txt-size-header-user);
    font-weight: 500;
}

.profile-name-container-full {
    font-size: var(--txt-size-header-user-full);
    font-weight: 500;
}

.header-hover:hover {
    background-color: var(--bcg-clr-header-btn-hover);
}

.svg {
    cursor: pointer;
}
.svg:hover {
    color:var(--bcg-clr-header-btn-hover);
}

/* Nav */
.logo {
    font-family: var(--logo-font);
    text-transform: uppercase;
    font-size: var(--logo-font-size);
    font-weight: 600;
    align-self: start;
}

.grid-rows {
    display: grid;
    grid-template-rows: minmax(9rem, 10rem) 1fr 7rem ;
    gap: var(--gap-nav-rows);
}

.nav-hover > * {
    cursor: pointer;
    color: var(--txt-clr-nav-items);
    transition: all .5s ease;
}

.nav-hover:hover > * {
    transform: scale(1.1) ;
    color: var(--txt-clr-nav-hover);
}

.nav-list-wrapper>* {
    margin-bottom: var(--margin-list-btm);
    margin-left: var(--margin-list-left);
}

.nav-icon {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: .6rem;
    align-items: center;
}

/* main */

main h1 {
    font-size: 1.3rem;
}

main .card {
    width: 70ch;
    height: auto;
    border: .1rem solid currentColor;
    border-radius: .7rem;
    padding: 1rem .8rem;
    background-color: var(--bcg-clr-cards);
}

main .project-content {
    margin-bottom: 2rem;
}

main .utilities-container::before {
    content: "";
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="%235f6368"><path d="M696-96q-50 0-85-35t-35-85q0-8 1-14.5t3-14.5L342-390q-15 16-35.35 23-20.36 7-42.65 7-50 0-85-35t-35-85q0-50 35-85t85-35q22 0 42.5 7.5T342-570l238-145q-2-8-3-14.5t-1-14.5q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-22.29 0-42.65-7Q633-638 618-654L380-509q2 8 3 14.5t1 14.5q0 8-1 14.5t-3 14.5l238 145q15-17 35.35-23.5Q673.71-336 696-336q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-600q20.4 0 34.2-13.8Q744-723.6 744-744q0-20.4-13.8-34.2Q716.4-792 696-792q-20.4 0-34.2 13.8Q648-764.4 648-744q0 20.4 13.8 34.2Q675.6-696 696-696ZM264-432q20.4 0 34.2-13.8Q312-459.6 312-480q0-20.4-13.8-34.2Q284.4-528 264-528q-20.4 0-34.2 13.8Q216-500.4 216-480q0 20.4 13.8 34.2Q243.6-432 264-432Zm432 264q20.4 0 34.2-13.8Q744-195.6 744-216q0-20.4-13.8-34.2Q716.4-264 696-264q-20.4 0-34.2 13.8Q648-236.4 648-216q0 20.4 13.8 34.2Q675.6-168 696-168Zm0-576ZM264-480Zm432 264Z"/></svg>)');
}